:root {
/* Шрифт */
--main-font: "Roboto";
--secondary-font: "Raleway";
/* Цвет основного текста (черный) */
--black-color:#212121;
/* Вторичный цвет (серый)*/
 --grey-color: #757575;
/* Белый текст и фон */
--white-bg-color: #ffffff;
/* Акцент цвета */
--accent-color: #2196F3;
/* Раззное */
--accent-color-bg: #188CE8;
--bg-color-photo: #F5F4FA;
--color-sidebar: #2F303A;
}

body {
font-family: var(--main-font), sans-serif;
font-size: 14px;
background-color: var(--white-bg-color);
color:var(--black-color);
}

/* Убираем точки и подчеркивание */
.link {
text-decoration: none;
}

.list {
list-style: none;
}
/* Черный текст заголовков */
.section-title {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: var(--black-color)
}

/* Шапка*/

/* Логотип */
.logo {
font-family: var(--secondary-font);
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--accent-color);
}
.span-web {
color: var(--black-color); 
}
.span-web-footer {
    color: var(--white-bg-color);
}

/* Навигация */
.nav-btn {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--black-color);
}
/* Секция адрес */
.mailtel {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--grey-color);
}
.nav-btn:hover,
.nav-btn:focus,
.mailtel:hover,
.mailtel:focus {
color: var(--accent-color);
}

/* Кнопка */
.btn-hero {
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
cursor: pointer;
color: var(--white-bg-color);
background-color: var(--accent-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: none;
}
.btn-hero:hover,
.btn-hero:focus {
background-color: var(--accent-color-bg);
}

/* Кнопки портфоліо */
.btn-port {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
cursor: pointer;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: none;
color: var(--black-color);
background-color: var(--bg-color-photo);
}
.btn-port:hover,
.btn-port:focus {
color: var(--white-bg-color);
background-color: var(--accent-color);
}
/* Кнопка ефект текущего сайта */
.curent {
    color: var(--accent-color);
}

/* Нейм компаний (в портфолио) */
.project-namecompany {
font-weight: 700;
font-size: 18px;
line-height: 2.00;
letter-spacing: 0.06em;
color: var(--black-color);
}
/* Формат компании */
.project-class {
font-weight: 400;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: var(--grey-color);
}

/* Сайдбар */
.hero-caption {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--white-bg-color);
}
.main-hero, footer {
background: var(--color-sidebar);
}
.hero-button {
font-weight: 700;
font-size: 16px;
line-height: 1.88;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--white-bg-color);
}
/* Наши преимущества текст */
.benefits-caption {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--black-color);
}
.benefits-subtitle {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--grey-color);
}
/* Фотокарты */
.team-item {
width: 270px;
height: 368px;
top: 1635px;
background: var(--white-bg-color);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.team-name {
font-weight: 500;
font-size: 16px;
line-height: 1.18;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;
color: var(--black-color);
background-color: var(--white-bg-color);
}
.team-job {
font-weight: 400;
font-size: 16px;
line-height: 1.18;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;
color: var(--grey-color)
}
/* Фотокарты портфолио */
.project-item {
box-sizing: border-box;
background : var(--white-bg-color);
border: 1px solid #EEEEEE;
}
/* Футер */
.googlemaps {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--white-bg-color);
font-style: normal;
}
.footer-list-address .mail-tel {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color:rgba(255, 255, 255, 0.6);;
}